<!DOCTYPE html>
<html lang="ru" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Company Page</title>
</head>
<body>
    <h2>Home Company Page</h2>
    <hr>
    <p>
        Welcome to Home Company Page!
    </p>
    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
            (Only for Managers)
        </p>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT Systems Meeting</a>
            (Only for Admins)
        </p>
    </div>
    <hr>
    <form action="#" th:action="@{/logout}"  method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>